    <!-- login section start -->
    <section class="login py-20" >

        <h3 class="sub-heading"> login page </h3>
        <h1 class="heading"> login for order </h1>
    
        <form action="/login" method="POST">
    
            <% if(messages.error) { %>
                <span class="text-red-500 text-2xl font-bold"><%= messages.error %></span>
            <% } %>
            <div class="inputBox">
                <div class="input">
                    <label for="email">your email</label>
                    <input id="email" name="email" type="email" placeholder="enter your email">
                </div>
                <div class="input">
                    <label for="password">your password</label>
                    <input name="password" id="password" type="password" placeholder="********************">
                </div>
            </div>
            <button type="submit" class="btn">Login</button>
            <a href="/registration">Don't have account?</a>
        </form>
    
    </section>
    <!-- login section end -->
