<section class="orders">
    <div class="admin-order-container mx-auto pt-12">
        <h1 class="fas fas fa-utensils heading py-16">Customers Order</h1>
            <table class="admin-order-table w-full mx-auto table-auto">
                <thead>
                    <tr>
                          <th class="order-header text-2xl px-4 py-2 text-left">Image</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Orders</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Customers Contact</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Customers Email</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Customers Address</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Order Status</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Placed Time</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Placed Date</th>
                          <th class="order-header text-2xl px-4 py-2 text-left">Payment Status</th>
                    </tr>  
                </thead>
                <tbody id="orderTableBody">
                </tbody>
            </table>
    </div>
</section>